<div class="container-fluid col-md-8" >
    <h4 style="text-align: center;">CREATE YOUR QUOTE</h4>
    <hr>
    <form>
       
        <div class="form-group">
  
            <label for="description">Type  here</label>
            <textarea class="form-control" id="description" rows="4" required></textarea>
  
        </div>
        <div class="form-group">
            <label for="created">Date created</label>
            <input type='date' id="created" required>
          </div>
    </form>
  </div>
